Source: matrix-synapse
Maintainer: Erik Johnston <erikj@matrix.org>
Section: python
Priority: optional
Build-Depends: python-setuptools (>= 0.6b3), python (>= 2.6.6-3), 
 debhelper (>= 9), dh-python, dh-systemd (>= 1.5), python-mock, python-twisted (>= 15.1.0),
 python-syutil (>= 0.0.7), python-yaml, python-frozendict (>= 0.4),
 python-bcrypt, python-daemonize, python-openssl (>= 0.14),
 python-service-identity (>= 1.0.0), python-blist, python-pyasn1, python-pysaml2,
 python-ujson, python-pil, python-pydenticon, python-signedjson (>= 1.0.0),
 python-unpaddedbase64 (>= 1.0.1), python-canonicaljson (>=1.0.0),
 python-nacl (>= 0.3.0), python-pymacaroons-pynacl
Standards-Version: 3.9.1
X-Python-Version: >= 2.7

Package: matrix-synapse
Architecture: all
Depends: ${misc:Depends}, ${python:Depends},
 debconf, adduser
Suggests: python-bleach (>= 1.4.2), python-jinja2 (>= 2.8)
Description: Reference Synapse Home Server
 .. contents::
 .
 Introduction
 ============
 .
 Matrix is an ambitious new ecosystem for open federated Instant Messaging and
 VoIP.  The basics you need to know to get up and running are:
 .
 - Everything in Matrix happens in a room.  Rooms are distributed and do not
   exist on any single server.  Rooms can be located using convenience aliases 
   like ``#matrix:matrix.org`` or ``#test:localhost:8448``.
 .
 - Matrix user IDs look like ``@matthew:matrix.org`` (although in the future
   you will normally refer to yourself and others using a 3PID: email
   address, phone number, etc rather than manipulating Matrix user IDs)
 .
 The overall architecture is::
 .
       client <----> homeserver <=====================> homeserver <----> client
              https://somewhere.org/_matrix      https://elsewhere.net/_matrix

